/*flex container*/

body {
    border: 5px solid #ff0000;
    height: 600px;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
}

/*flex items*/

div {
    width: 200px;
    height: 100px;
    background: #4682b4;
    border: 1px solid #000;
    margin: .2%;
    text-align: center;
    flex-grow: 1;
}
