/*flex container*/

body {
    border: 5px solid #ff0000;
    height: 700px;
    display: flex;
    flex-flow: row wrap;
}

/*flex items*/

div {
    width: 200px;
    height: 100px;
    background: #4682b4;
    border: 1px solid #000;
    margin: .2%;
    text-align: center;
    order: 9999;
}

div:last-child {
    order: 0;
}

div:nth-last-of-type(2) {
    order: 1;
}

