/*flex container*/
body {
    height: 600px;
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    border: 5px solid #ff0000;
}

/*flex items*/
div {
    width: 200px;
    /*height: 100px;*/
    background: #a9a9a9;
    border: 1px solid #ff0000;
    margin: 1%;
    text-align: center;
}