* {
    font-size: 20px;
}

body {
    max-width: 80%;
    height: 100vh;
    margin: 0 auto;
    /*border: 1px solid hotpink;*/
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

nav {
    width: 100%;
    border-bottom: 2px solid rgba(0, 0, 0, .2);
}

ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

ul li {
    /*border: 1px solid hotpink;*/
    padding: 4rem;
    border-bottom: 4px solid transparent;
    transition-property: border-bottom;
    transition-duration: .2s;
    transition-timing-function: linear;
    font-size: 4rem;
    flex-grow: 1;
}

ul li:hover {
    border-bottom: 4px solid deepskyblue;
    cursor: pointer;
}