* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    display: flex;
    flex-flow: row wrap;
}

.class1,
.class2,
.class3 {
    min-height: 150px;
    width: 100%;
}
