[target] {
    border: 1px solid #000;
    padding: .5%;
    text-decoration: none;
}

a:link {
    color: #ff6347;
}

a:visited {
    color: #4682b4;
}

a:hover {
    color: #ffff00;
}

a:active {
    color: #ff4500;
}



