* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
}

html {
    padding: .5rem;
}

body {
    width: 100%;
    margin: 0 auto;
}

nav,
main {
    border: 2px solid #ff0000;
    padding: .5rem;
}

ul {
    display: flex;
    flex-flow: row wrap;
}

li {
    list-style-type: none;
    text-transform: capitalize;
    margin: 2px auto;
}
