* {
    margin: 0;
    padding: 0;
}

/*.wrapper {*/
    /*width: 70%;*/
    /*margin: 0 auto;*/
    /*background: lightsalmon;*/
    /*padding: 1%;*/
/*}*/

div:not(.wrapper) {
    width: 100px;
    height: 100px;
    background: tomato;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    transition-property: transform;
    transition-duration: .5s;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    border: 10px solid #4c2b03;
}

div:not(.wrapper):hover {
    transform: scale(1.1);
}

/*div:nth-child(2) {*/
    /*margin: 10% 0;*/
/*}*/

img {
    border-radius: 100%;
    vertical-align: middle;
}
