/*flex container*/

body {
    height: 750px;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    border: 5px solid #ff0000;
}

div {
    width: 200px;
    height: 100px;
    margin: 1%;
    background: #a9a9a9;
    border: 1px solid #ff0000;
    text-align: center;
}