* {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

p {
    max-width: 550px;
    margin: 0 auto;
    border: 1px solid #000;
    padding: 1%;
    text-indent: 2rem;
}

p::first-line {
    color: #ff6347;
}

p::first-letter {
    font-size: 1.5rem;
    line-height: 1;
}

