* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-left: 100px;
}

.one {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    border-radius: 7px;
    background: #a9a9a9;
    position: fixed;
    top: 20px;
    left: 50px;
}

.two {
    width: 150px;
    height: 200vh;
    border: 1px dashed #ff0000;
    background: #87cefa;
    border-radius: 7px;
}