* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 400;
}

body {
    display: flex;
    flex-flow: row wrap;
}

header,
main,
aside,
footer {
    width: 100%;
    order: 9999;
}

header,
aside,
footer {
    padding: .5rem;
    text-align: center;
}

main {
    padding: .5rem;
}
